* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


  img{
    width: 100%;
  }
  .stars{
    font-size: 1.5rem;
		margin-top: 10px;
  }

	.str{
		color: #2c3e50;
		text-decoration: none;
	}

	h1{
		font-size: 2rem;
	}

	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}

.contenedor {
	background:#ccc;
	width:90%;
	max-width:1000px;
	margin:auto;
	display:flex;
	flex-flow:row wrap;
}

body {
	background:#e9e9e9;
}

header {
	background:#2c3e50;
	width:100%;
	padding:10px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:nowrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}



header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
	margin-left: 20px;
}

header nav {
	width:15%;
	font-size: 30px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {

	border-radius: #fff;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:5px;
	margin-right: 2px;
	flex-grow:1;
}

header nav a:hover {
	background:;
}

.main {
	background:#fff;
	padding:20px;
	flex:1 1 70%;
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	background:#E5E0D8;
	padding:20px;
	flex:1 1 30%;
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

aside .widget {
	height:150px;
	margin:10px;
	margin-bottom: 50%;
}

footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;

	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	font-size: 1rem;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}


footer .social a {
	font-size: 2rem;
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:row;
		padding:0;
	}

	header .logo {
		margin:10px 0;
	}

	header nav {
		width: 30%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
		margin-bottom: 50%;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}
