* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}


img{
	width: 100%;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
}

.contenedor {
	background-color: white;
	width:90%;
	max-width:1000px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

body {
	background:#e9e9e9;
}

header {
	background:#fff;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 2px;
	border-color: #a85122;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width:100%;
	padding:10px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:nowrap;
}

header .logo {
	color:#fff;
	font-size:30px;
	max-width: 70%;
	margin-left: 2%;
}


header nav {
	width:30%;
	font-size: 30px;
	/* Flexbox */
	display:flex;
	flex-wrap:wrap;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items:center;
}

header nav a {

	border-radius: #fff;
	color:#38393a;
	text-align: center;
	text-decoration: none;
	padding:5px;
	margin-right: 2px;

	/* Flexbox */
}

header .menu{
	display: none;
}

.main {

	background:white;
	padding:20px;
	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

.titulo-star{
	display: flex;
	flex-flow: row wrap;
	font-size: 2rem;


}

.titulo-star h1{
	margin-right: 2%;
	color: #89563a;
}
.titulo-star h5{
	margin-right: 3%;
	font-size: .7em;

}

.cabecera{
	display: flex;
	align-items: flex-end;
	flex-flow: row nowrap;
	justify-content: space-between;

}
.icon-option{
	display: flex;
	flex-flow: row-reverse nowrap;
}



.loc{
	color: #a85122;
	text-decoration: none;
	font-size: 2em;
}

.stars{
	display: flex;
	flex-flow: row nowrap;
	font-size: .7em;
	margin-top: 2%;
}
.str{
	color: #2c3e50;
	text-decoration: none;
}

.comm{
	color: #2c3e50;
	margin-right: 15%;
}

aside {
	background:#fff;
	padding:20px;
	font-size: 1.3em;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}
aside .widget {
	border-right-style: solid;
	border-top-style: solid;
	border-color: black;
	border-width: 1px;
	padding-bottom: 10%;
	margin-bottom: 5%;
	font-size: 1.5rem;
	flex-flow: row wrap;
}

.aside-icons{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.double-window{
	display: flex;
	flex-flow: column;
}

footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

footer .links {
	font-size: 1rem;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}


footer .social a {
	font-size: 2rem;
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

/*@media screen and (min-width: 600px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:row;
		padding:0;
	}

	header .logo {
		margin:10px 0;
	}

	header nav {
		width: 30%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
		margin-bottom: 50%;
	}
}*/

@media screen and (min-width: 800px) {
.contenedor{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "header header"
												"aside aside"
												"widget widget"
												"double-window double-window"
												"footer footer";
}

	header nav{
		display:none;
	}
	header{
		grid-area: header;
	}
	header .menu{
	max-height: 50px;
	font-size: 1.2rem;
	width:60%;
	display:flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	}

	header .menu a.line{
		border-bottom: solid;
		border-top: solid;
		border-width: 2px;
		border-bottom-color: #a85122;
		border-radius: 3px 10px 3px 10px;
		color:#38393a;
		padding: 7px;
		text-decoration: none;
	}

	.userch{
		font-size: 1.3em;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		width: 20%;
	}

	.userch a{
		color:#38393a;
		padding: 10px;
		text-decoration: none;
	}

	.titulo-star h5{
		margin-top: 2%;
	}

	.main{
		border-top-style: solid;
		border-top-right-radius: 20px;
		border-color: #a85122;
	}



	aside {
		padding-top: 7%;
		border-top: solid;
		border-top-left-radius: 20px;
		border-bottom: solid;
		border-bottom-left-radius: 20px;
		border-color: #38393a;
		border-width: 2px;
		grid-area: aside;
		grid-column: 2/3;
		display: flex;
		flex-direction: column;

	}

	 .double-window{
		grid-area: double-window;
		width: 150%;
		display: flex;
		flex-flow: row nowrap;
	}

	.win1{
		padding: 10px;
	}

	footer {
		grid-area: footer;
		justify-content:space-between;
	}
}
